* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    transform: rotate(-25deg );
}

.container .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% *400px);
    left: -20px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    animation: frame 1.5s ease-in-out infinite;
}

.container .box .cube {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background: rgba(3, 255, 255,1);
    box-shadow: 0 0 5px rgba(3, 233, 244,1),
                0 0 25px rgba(3, 233, 244,1),
                0 0 50px rgba(3, 233, 244,1),
                0 0 100px rgba(3, 233, 244,1),
                0 0 200px rgba(3, 233, 244,0.5),
                0 0 500px rgba(3, 233, 244,0.5);
    animation: key ease-in-out 1.5s infinite;
    transform-origin: bottom right;
}

@keyframes key {
    0% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(90deg);
    }

    65% {
        transform: rotate(85deg);
    }

    70% {
        transform: rotate(90%);
    }

    75% {
        transform: rotate(87.5%);
    }

    80%,100% {
        transform: rotate(90deg)
    }
}

@keyframes frame {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-200px);
    }
}