* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}

section {
    position: relative;
    overflow: hidden;
}

section h2 {
    position: relative;
    font-size: 6em;
    font-weight: 800;
    color: #ffeb3b;
    text-transform: uppercase;  
    overflow: hidden;
    animation-delay: 7s;
    animation: TZO 0.5s linear forwards;
}

section h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent, #000 5%, #000 100%);
    animation: animate 6s linear forwards;
}

@keyframes animate {
    0% {
        left: -20%;
    }

    100% {
        left: 100%;
    }
}

@keyframes TZO {
    0% {
        transform: scale(1);
        opacity: 1; 
    }

    100% {
        transform: scale(20);
        opacity: 0;
    }
}