/*  {
    margin: 0;
    padding: 0;
    font-family: Comic sans ms;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333  ;
}

section h1 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 6.5vw;
    color: azure;
    font-weight: 900  ;
} 

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.blocks {
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    /* background: aliceblue ; 
    animation: anime 2s ease-in-out forwards;
}

@keyframes anime {
    0% {
        opacity: 0;
        transform: scale(0) translateY(1000px);
    }

    
    50% {
        opacity: 1;
        background: url(./download\ \(6\).jpg);
        background-position: center;
        background-attachment: fixed;
    }

    
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
        background: url(./download\ \(6\).jpg);
        background-position: center;
        background-attachment: fixed;
     
    }
} */