/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    background-image: url('./assets/img/background.jpeg');
}

img{
    max-width: 100%;
    height: auto;
}
